<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1 style="padding-right: 1%" routerLink="/">Clinica Medica</h1>
        <button mat-raised-button color="primary" routerLink="/consulta-list">Consultas</button>
        <button mat-raised-button color="primary">Medicos</button>
        <button mat-raised-button color="primary">Pacientes</button>
        <button mat-raised-button color="primary">Proprietarios</button>
        <button mat-raised-button color="primary">Recepcionistas</button>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>